.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.shadowed-box {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    width: 80%;
    max-width: 800px;
}

.header-text {
    font-size: 24px;
    margin-bottom: 20px;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.option-container {
    margin: 10px;
    text-align: center;
}

.hair-color-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.radio-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.radio-input {
    display: none;
}

.selected-image-container {
    margin-top: 20px;
}

.selected-hair-color-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.next-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .options-container {
        flex-direction: column;
        align-items: center;
    }
}