.select1 {
    text-align: center;
    margin-top: 10%;
    background-color: rgba(240, 248, 255, 0.096);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 14px;
    border: 2px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.progress-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* Additional styling for the container if needed */
}

.less-than-label {
    order: 1;
    font-size: larger;
    /* Position on the left */
}

.more-than-label {
    order: 2;
    font-size: larger;
    /* Position on the right */
}


/* Style for the button */

button {
    background-color: #007bff;
    /* Blue background color */
    color: #fff;
    /* White text color */
    border: none;
    /* Remove border */
    padding: 10px 20px;
    /* Padding around the text */
    font-size: 16px;
    /* Font size */
    cursor: pointer;
    /* Show pointer cursor on hover */
    border-radius: 4px;
    /* Rounded corners */
    margin-top: 20px;
    /* Top margin */
}


/* Hover effect for the button */

button:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}


/* Optional: Add more specific styles for different button states (e.g., active, focus) */